@page
@model DoctoLib.Pages.Doctors.ListModel
@{
    ViewData["Title"] = "Doctors";
}

<h1>@Model.Message</h1>
<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" asp-for="SearchTerm" />
			<div class="input-group-append">
				<button class="btn btn-secondary">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</div>
</form>


@foreach(var doctor in Model.Doctors)
{
	<partial name="_Summary" model="doctor"/>	
}


@section author{ 
	<h6>Outmane Baladi</h6>
}

<a class="btn btn-primary" asp-page="./Edit">New Doctor</a>

