@page
@model DoctoLib.Pages.Doctors.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>@Model.Message</h1>

<table class="table">
	@foreach(var doctor in Model.Doctors)
	{
		<tr>
			<td>@doctor.Name</td>
			<td>@doctor.Location</td>
			<td>@doctor.Type</td>
		</tr>
	}
</table>

